/* BOILERPLATE */

* {
  font-family: Verdana, sans-serif;
  display: inline-block;
  position: relative;
  color: #000080;
  /*border: 1px dashed blue;*/
}

head {
  display: none;
}

body {
  background-color: #eee;
}

#wrapper {
  display: block;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

a:hover {
  color: #800000;
}

/* HEADER */

header {
  display: block;
  margin: 0 auto 20px auto;
  text-align: center;
  margin: 15px 0 -20px 0;
}

#headerbox {
  width: 550px;
  margin: 41px 0px 41px 10px;
  text-align: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header ul {
  padding: 0;
  margin: 0;
}

#portrait {
  height:150px;
}

#myname {
  font-size: 2.5em;
  margin: 0;
}

#sociallinks {
  padding: 0;
  margin: 0 0 10px 0;
}

.logo {
  vertical-align: bottom;
  height: 25px;
  width: 25px;
}

nav {
  display: block;
  border-top: 1px solid black;
  padding-top: 5px;
}

/* PAGE ENTRIES */

section {
  display: block;
  margin: auto;
  text-align: center;
}

article {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  margin: 0 20px;
  text-align: left;
}

h2 {
  margin: 0 0 1px 0;
  color: #800080;
}

h3 {
  display: block;
  font-size: 1em;
  text-align: right;
  margin: 1px 0 1px 0;
  color: #800080;
}

p{
  color: #333;
}

.continue {
  display: block;
  text-align: right;
  font-style: italic;
  color: #800080;
  text-decoration: underline;
}

h4 {
  display:block;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  font-style: italic;
  font-size: 20px;
  background-color: #ddd;
}

#blogpreview {
}

#portfoliopreview {
  max-height: 400px;
}

#vertdivide {
  background-color: black;
  width: 1.25px;
  height: 300px;
}

/* FOOTER */

footer {
  display: block;
  text-align: center;
}